
.he1{
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 700; 
		font-size:3rem;
	}
.he2{
		font-family: cursive; 
		color:#001a57;
		font-weight: 700; 
		font-size:3rem;
	
	}
.pa1{
       font-family: cursive; 
	   font-size:14px;
	}
.btn1{
       font-family: cursive;
	}
